@mixin form {
  display: inline-block;
  width: 100%;
  margin: 8px 0 20px;
  padding: 18px 20px;
  border: 1px solid $lightgraycolor;
  box-sizing: border-box;
  border-radius: 30px;

  &:focus {
    outline: none;
  }
}
@mixin clearfix {
  zoom: 1;

  &:after {
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
    content: ".";
  }
}
@mixin mQ($args...) {
  @if length($args) == 1 {
    @media screen and (max-width:nth($args, 1)) {
      @content;
    }
  }
  @if length($args) == 2 {
    @media screen and (max-width:nth($args, 1)) and (min-width:nth($args, 2)) {
      @content;
    }
  }
}