$whitecolor: #ffffff;
$blackcolor: #000000;
$lightbluecolor: #28a7e1;
$lightbluecolor01: #ebf7fb;
$bluecolor: #3777f6;
$darkbluecolor: #2a4ea0;
$graycolor: #737373;
$lightgraycolor: #b3b3b3;
$lightgraycolor01: #ededed;
$lightgraycolor02: #e6e6e6;
$redcolor: #c50018;